{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="yandex-verification" content="ea84b2f2bb491feb" />
	<link href="{% static 'index/fonts/gsans.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'index/fonts/icomoon/style.css' %}">
	<link rel="stylesheet" href="{% static 'index/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'index/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'index/css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'index/img/logo.png' %}"/>
	<title>Взгляд в Будущее</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SFR40NF4ZQ"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-SFR40NF4ZQ');
</script>
</head>
<body>
	<div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    <header class="site-navbar" role="banner">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-11 col-xl-4">
            <h1 class="mb-0 site-logo text_logo"><a href="{% url 'home' %}" class="text-black mb-0"><img class="logo_img" src="{% static 'index/img/logo.png' %}" alt="Лого">Взгляд в Будущее</a></h1>
          </div>
          <div class="d-none d-xl-block right">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="active"><a href="{% url 'home' %}"><span>Главная</span></a></li>
                <li><a href="{% url 'projects' %}"><span>Проекты</span></a></li>
                <li><a href="{% url 'about' %}"><span>О нас</span></a></li>
                <li><a href="{% url 'contact' %}"><span>Контакты</span></a></li>
              </ul>
            </nav>
          </div>
          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
          </div>
        </div>
      </div>
	</header>
	<main>
        {% block content %}{% endblock %}
	</main>
  <footer class="justify-content-between align-items-center ms-3 py-4 border-top text-center">
    <div class="text-center">
      <span class="text-muted">© 2022 Взгляд в Будущее</span>
    </div>
  </footer>
<script src="{% static 'index/js/sphere.js' %}"></script>
<script src="{% static 'index/js/p5.min.js' %}"></script>
<script src="{% static 'index/js/brounovskoe.js' %}"></script>
<script src="{% static 'index/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'index/js/popper.min.js' %}"></script>
<script src="{% static 'index/js/bootstrap.min.js' %}"></script>
<script src="{% static 'index/js/jquery.sticky.js' %}"></script>
<script src="{% static 'index/js/main.js' %}"></script>
<script src="{% static 'index/js/button.js' %}"></script>
</body>
</html>